button.btn {
    width: 100%;
    height: 44px;
    padding: 0.65rem 1.5rem 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 3px;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

button.btn.submit-btn {
    background-color: #38516b;
    color: white;
}

button.btn.submit-btn:hover {
    background-color: #1c2c3b;
}

button.btn.cancel-btn {
    background-color: #b43026;
    color: white;
}

button.btn.cancel-btn:hover {
    background-color: #972018;
}
