/* Form styles */
.form-section {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    margin-bottom: 1.5rem;
}

.form-section-form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-section-form-group+.form-section-form-group {
    margin-top: 1rem;
}

.form-section-form-group+button {
    margin-top: 2rem;
}

label {
    font-weight: 500;
    color: #2c3e50;
}

input,
select {
    width: 100%;
    ;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus,
select:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

input:user-invalid, input.invalid,
select:user-invalid, select.invalid {
    background: #fffcfc;
    border-color: #b43026;
}

#symptomSelectContainer {
    display: flex;
    gap: 4%;
}

#symptomSelectContainer select#symptomSelect {
    width: calc(98% - 36px);
}

#symptomSelectContainer button {
    width: 36px;
    color: #2c3e50;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 0.75rem 0;
    align-self: stretch;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#symptomSelectContainer button:hover {
    background-color: #a1bedb;
}

/* Records Form Section */

#recordsFormSection>form {
    display: none;
}

#recordsFormSection>form.active {
    display: block;
}

#recordsFormSection>form#batchRecordsForm.active {
    display: grid;
}

.records-form-section-nav {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.records-form-section-nav button {
    height: 44px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    flex: 1 0 calc(50% - 0.25rem);
}

.records-form-section-nav button:hover,
.records-form-section-nav button.active {
    background-color: #a1bedb;
}

#batchRecordsForm {
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

#batchRecordsForm .form-section-form-group:nth-child(2) {
    margin-top: 0;
}

#batchRecordsForm .col-2 {
    grid-column: span 2;
}

@media (max-width: 1024px) {

    .form-section-form {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 400px) {

    .form-section {
        padding: 1.4rem;
    }

    .form-section-form {
        gap: 1.4rem;
    }

    #batchRecordsForm {
        grid-template-columns: auto;
    }

    #batchRecordsForm .col-2 {
        grid-column: auto;
    }

}