/* Reset and base styles */
:root {
    font-size: 15px;
}

@media (max-width: 1024px) {

    :root {
        font-size: 14px;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    overflow-x: hidden;
    display: none;
    opacity: 0;
}

body.sw {
    display: initial;
    opacity: 1;
}