@import url('./reset.css');
@import url('./login.css');
@import url('./header.css');
@import url('./container.css');
@import url('./form.css');
@import url('./modal.css');
@import url('./button.css');
@import url('./datatable.css');
@import url('./tabs.css');

@import 'js-datepicker/dist/datepicker.min.css';
@import 'tippy.js/dist/tippy.css';