.tabs-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.tabs-nav ul li {
    background-color: white;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    padding: 0.8rem;
    cursor: pointer;
    border: 1px solid #b8c6d6;
    border-bottom: none;
    flex: 1;
}

.tabs-nav ul li:hover {
    background-color: #e0eaf5;
    font-weight: bold;
}

.tabs-nav ul li.active {
    background-color: #a7b9cc;
    font-weight: bold;
    z-index: 99
}

.tabs-section .table-container {
    padding: 1.5rem;
    border: 1px solid #b8c6d6;
    border-radius: 0px 0px 6px 6px;
}